body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    text-align:center;
    margin:0;
}

header{
    background:#0066cc;
    color:white;
    padding:30px;
}

section{
    padding:40px;
}

button{
    padding:12px 24px;
    background:#0066cc;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

footer{
    background:#222;
    color:white;
    padding:20px;
}
